@import "assets/scss/link";


html, body {
  @include square(100%);
  @include font('Roboto', $main_font_cl, 16px, 400);
  line-height: calc(16 * 10%)
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

body{
  color: $main_font_cl;
  background-color: $main_bg__light_cl;
}


.defaultBtn{
  @include default_btn(#cfcfcf, $secondary_font_cl);
  &.circle{
    border-radius: 100%;
    @include square(30px);
    @include min-square(30px);
  }
}
